.concert-banner {
  background-image: url(../images/banner-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15em;
  padding-bottom: 2.5em;
  margin-bottom: 4em;
  border-bottom: 1px solid #e22424;
}
