.concert-banner {
  background-image: url(../images/banner-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 14em;
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid #e22424;
}

.banner-title {
  padding-bottom: .5em;
}
