.date-title {
  padding-top: 1em;
  padding-bottom: 30px;
  border-bottom: 1px solid #e22424;
  border-radius: 4px;
  color: #fff;
}

.calender-title {
  padding-top: 4em;
  padding-bottom: 30px;
  border-bottom: 1px solid #e22424;
  border-radius: 4px;
  color: #fff;
}

.planner-btn-noclick {
  display: block;
}

.planner-btn-onclick {
  display: none;
}

@media only screen and (min-width: 16em) {

  .finish-btn {
    max-width: 100%;
  }


}

@media only screen and (min-width: 38em) {

  .finish-btn {
    max-width: 50%;
  }


}

@media only screen and (min-width: 60em) {

  .finish-btn {
    max-width: 50%;
  }


}
