.carousel-btn {
  border-radius: 90%;
}

#google-play-small:checked ~ .carousel-inner [for="google-play-small"],
#spotify-logo-small-control:checked ~ .carousel-inner [for="spotify-small"],
#soundcloud-logo-small-control:checked ~ .carousel-inner [for="soundcloud-small"],
#apple-music-small-control:checked ~ .carousel-inner [for="apple-music-small"] {

  border: 2px solid #e22424;

}


@media only screen and (min-width: 38em) {

  .carousel-items > div {
    display: block;
  }
}
