.carousel-btn {
  border-radius: 150%;
}

.carousel-btn:hover {
  color: #e22424;
}


#google-play-small:checked ~ .carousel-inner [for="google-play-small"],
#spotify-small:checked ~ .carousel-inner [for="spotify-small"],
#soundcloud-small:checked ~ .carousel-inner [for="soundcloud-small"],
#apple-music-small:checked ~ .carousel-inner [for="apple-music-small"] {

  border: 2px solid #e22424;

}


@media only screen and (min-width: 38em) {

  .carousel-items > div {
    display: block;
  }
}
