.login-h2 {
 font-weight: normal;
 text-align: center;
}

.cc-logo {
  text-align: center;
}

input {
  border: 1px solid #e22424;
  background-color: transparent;

}

.field {
  max-width: 20em;
}

.text-fields {
  margin: auto;
  width: 50%;
}

.no-focus:focus {
  outline: none;
}


@media only screen and (min-width: 38em) {

  .banner {
    border-right: none;
  }

}


@media only screen and (min-width: 60em) {

  .banner {
    border-right: 1px solid #E22424;
  }

}


@media only screen and (min-width: 90em) {



}
