html {
  background-color: #1D1D1D;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.sign-up,
.log-in {
  color: #fff;
  text-decoration: none;
}

.full-logo {
  width: 200px;
}

.cc-logo {
  text-align: center;
}

.banner {
  background-image: url(../images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-right: none;
  text-align: center;
}

.music-icon-each:focus {
  outline: none;
}

.sign-btn {
  display: none;
}

.call-to-action {
  display: none;
}

.btn-block {
  display: block;
}

.we-sync-large {
  display: none;
}

.we-sync-small {
  padding-top: 10vh;
  display: block;
  font-weight: 400;
}

.small-login-btn {
  padding-top: 8vh;
}

.platform-icons-small {
  display: block;
}

.sync-info-small {
  width: 100%;
  padding-bottom: 2em;
}

@media only screen and (min-width: 38em) {

  .banner {
    border-right: none;
  }

}

@media only screen and (min-width: 60em) {

  .platform-icons-small {
    display: none;
  }

  .we-sync-small {
    display: none;
  }

  .we-sync-large {
    display: block;
  }

  .btn-block {
    display: none;
  }

  .sign-btn {
    display: block;
  }

  .banner {
    border-right: 1px solid #E22424;
    text-align: left;
  }

  .call-to-action {
    font-size: 1.9rem;
    line-height: 3rem;
    font-weight: normal;
    display: block;
  }

  .platforms {
    font-weight: 200;
    padding-top: 6em;
    font-size: .7901rem;
    line-height: 1.5rem;
  }

  .cc-logo {
    text-align: left;
  }

}

@media only screen and (min-width: 75em) {

  .banner {
    border-right: 1px solid #E22424;
  }

  .call-to-action {
    font-size: 2.0273rem;
    line-height: 3rem;
  }

  .platforms {
    padding-top: 5.8em;
    font-size: .8889rem;
    line-height: 1.5rem;
  }


}


@media only screen and (min-width: 90em) {

  .call-to-action {
    font-size: 2.5658rem;
    line-height: 3.375rem;
  }

  .platforms {
    padding-top: 4.8em;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

}
