html {
  background-color: #1D1D1D;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  /* height: 100vh;
  overflow: hidden; */
}

label {
  font-weight: 200;
}

.sign-up,
.log-in {
  color: #fff;
  text-decoration: none;
}

.full-logo {
  width: 200px;
}

.cc-logo {
  text-align: center;
}

.banner {
  background-image: url(../images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-right: none;
  text-align: center;
}

.music-icon-each:focus {
  outline: none;
}

.sign-btn {
  display: none;
}

.call-to-action {
  display: none;
}

.btn-block {
  display: block;
}

.we-sync-large {
  display: none;
}

.we-sync-small {
  display: block;
  font-weight: 400;
  margin-bottom: 0;
}

.small-login-btn {
  padding-top: 6vh;
}

.platform-icons-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  width: 100%;
  padding-bottom: 2em;
}

.platform-icons-link-up {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20em;
  width: 80%;
  padding: 1.75em 0;
}

.platform-icons-link-up svg:hover {
  color: #e22424;
  transition: .2s ease-in-out;
}

.sync-info-small {
  width: 100%;
  height: 20vh;
  margin-bottom: 1.5em;
}

.music-icon-each {
  color: #fff;
}

.link-up-icon-small {
  width: 50%;
}

.play-music-small {
  width: 45%;
}

.apple-music-small {
  width: 40%;
}

.spotify-small {
  width: 50%;
}

.finish-btn {
  padding-top: 1em;
}

.add-another {
  text-decoration: none;
  color: #E22424;
  font-size: .65rem;
  line-height: 1.3rem;
  transition: .2s ease-in-out;
}

.add-another:hover {
  color: #E22424;
}

.carousel-items > div {
  display: none;
}
@media only screen and (min-width: 38em) {

  .banner {
    border-right: none;
  }

  .platform-icons-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 17em;
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .platform-icons-small {
    display: none;
  }

  .we-sync-small {
    display: none;
  }

  .we-sync-large {
    display: block;
  }

  .btn-block {
    display: none;
  }

  .sign-btn {
    display: block;
  }

  .banner {
    border-right: 1px solid #E22424;
    text-align: left;
  }

  .call-to-action {
    font-size: 1.9rem;
    line-height: 3rem;
    font-weight: normal;
    display: block;
  }

  .platforms {
    font-weight: 200;
    padding-top: 6em;
    font-size: .7901rem;
    line-height: 1.5rem;
  }

  .cc-logo {
    text-align: left;
  }

  .sign-up,
  .log-in {
    transition: .2s ease-in-out;
  }

  .sign-up:hover,
  .log-in:hover {
    color: #e22424;
    transition: .2s ease-in-out;
  }

  .platform-icons-link-up {
    width: 100%;
  }

  .soundcloud-small {
    width: 55%;
  }

  .play-music-small {
    width: 40%;
  }

  .apple-music-small {
    width: 38%;
  }

  .add-another {
    color: #7c2929;
  }

  /* .link-up-icon-small {
    width: 100%;
  } */

}

@media only screen and (min-width: 75em) {

  .banner {
    border-right: 1px solid #E22424;
  }

  .call-to-action {
    font-size: 2.0273rem;
    line-height: 3rem;
  }

  .platforms {
    padding-top: 5.8em;
    font-size: .8889rem;
    line-height: 1.5rem;
  }


}


@media only screen and (min-width: 90em) {

  .call-to-action {
    font-size: 2.5658rem;
    line-height: 3.375rem;
  }

  .platforms {
    padding-top: 4.8em;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

}
