.nav {
  position: fixed;
  background: linear-gradient(to bottom, rgba(29,29,29,1) 25%, rgba(29,29,29,0.75) 50%, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 6em;
  pointer-events: none;
}

.nav-icon-single {
  pointer-events: all;
}

.cc-logo-small {
  pointer-events: all;
}

.icon-logo {
  max-width: 1.3em;
}

.nav-list {
  padding-top: 1.6em;
  text-align: right;
}

.nav-icon-single {
  text-decoration: none;
  color: #fff;
  transition: .2s ease-in-out;
}

.nav-icon-single:hover {
  color: #e22424;
}

.space-for-nav {
  height: 7em;
}

.nav-last-item {
  padding-right: 0;
}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
