/* INDEX ANCHOR */
.anchor {
  display: block;
  height: 130px;
  margin-top: -130px;
  visibility: hidden;
}

.anchortwo {
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

/* CONCERT */

.cs-head {
  padding-top: 1rem;
  border-line:
}

.concerts {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cur {
  margin-bottom: 0;
}

/* EXTRAS */

.button {
	background-color: #410098;
  border-radius: 0.5em;
	padding: .4em;
	color: white;
	position: relative;
	width: 30%;
	text-align: center;
	left: 33%;
}

.price{
	width: 100%;
	text-align: center;
}
.price div{
	background-color: #410098;
	padding: 1em 1em;
	margin: 0.25em 0;
	width: 100%;
	display: inline-block;
	border-radius: 0.25em;
}
.price a{
	text-decoration: none;
	color: white;
}

}
