.card-gutter {
  padding-left: 2em;
  padding-right: 2em;
}

.card-btn-gutter-left {
  padding-right: .5em;
}

.card-btn-gutter-right {
  padding-left: .5em;
}

.card-btn {
  width: 50%;
}

.card-main {
  border: 1px solid #e22424;
  border-radius: 4px;
  color: #fff;
}

.card-hover-style:hover .card-text {
  background-color: rgba(124, 41, 41, .3);
}

.card-text {
  background-color: transparent;
  transition: .3s ease-in-out;
}

.card-txt-style {
  text-decoration: none;
}

.card-image {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e22424;
  z-index: -100;
}

.listen-card {
  border: 2px solid #e22424;
  border-radius: 6px;
}

iframe {
  display: block;
  width: 100.1%;
}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {

  iframe {
    display: block;
    width: 100.05%;
  }

  .card-gutter {
    padding-left: 2em;
    padding-right: 2em;
  }

}

@media only screen and (min-width: 90em) {



}
